/***********
 * General *
 ***********/
@font-face {
	font-family: "Cabin";
	src: url("../fonts/Cabin-Regular.otf");
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

h1, h2, h3, p, li {
	font-family: "Cabin";
}

a {
    text-decoration: none;
}

#all {
    width: 100%;
}

.last-container {
    width: 100%;
    height: 800px;
}

.container {
    width: 100%;
    height: 620px;
}

.content {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.layer1 {
    z-index: 1;
}

.layer2 {
    z-index: 2;
}

.layer3 {
    z-index: 3;
}

.layer4 {
    z-index: 4;
}

.inline-center {
    text-align: center;
}

.hcenter {
    display: inline-block;
}

.table {
        width: 100%;
        height: 100%;
        display: table;
}

.vcenter {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
}

.vbottom {
        display: table-cell;
        vertical-align: bottom;
        height: 100%;
}

/******************
 * Loading Screen *
 ******************/
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #e62625;
}

#loading-can {
    width: 185px;
    height: 191px;
    background: url('../images/0_loading/can.png');
    margin: 0 auto;
}

#loading-can-switch {
    display: block;
    margin: 0 auto;
}

#progress {
    width: 100%;
    margin: 0 auto;
    color: #f3f3f3;
}

/*************
 * Animation *
 ************/
.fixed {
    position: fixed;
}

.fixed img {
    position: absolute;
}

.transparent-bg {
    background: rgba(0, 0, 0, 0);
    padding-top: 50px;
}

#screenshots {
    position: relative;
    width: 296px;
    height: 170px;
    top: -348px;
    left: -90px;
    visibility: hidden;
    -webkit-mask: url('../images/screen_mask.png') no-repeat;
    -moz-mask: url('../images/screen_mask.png') no-repeat;
    -o-mask: url('../images/screen_mask.png') no-repeat;
    mask: url('../images/screen_mask.png') no-repeat;
    -webkit-mask-size: cover;
    -moz-mask-size: cover;
    -o-mask-size: cover;
    mask-size: cover;
}

#screen1 {
    position: absolute;
    background: url('../images/5_market/app2.jpg');
    width: 296px;
    height: 170px;
    left: 296px;
}

#screen2 {
    position: absolute;
    background: url('../images/5_market/app3.jpg');
    width: 296px;
    height: 170px;
    left: 296px;
}

#screen3 {
    position: absolute;
    background: url('../images/5_market/app4.jpg');
    width: 296px;
    height: 170px;
    left: 296px;
}

.transition {
    position: relative;
}

.transition-text {
    position: absolute;
    color: #f3f3f3;
}

.transition-text-container {
    width: 660px;
    margin: 0 auto;
}

.transition-text-container > p {
    font-size: 1.25em;
    line-height: 1.5em;
}

/**********
 * Navbar *
 **********/
#navbar {
    position: fixed;
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
}

#logo {
    float: left;
    margin: 20px;
}

#navbar ul {
    float: right;
}

#navbar li {
    float: left;
    text-align: center;
    margin: 24px 16px;
}

#navbar a {
    color: #f3f3f3;
    text-decoration: none;
    letter-spacing: 1px;
}

#navbar a:hover {
    color: #e62622;
    text-decoration: none;
    letter-spacing: 1px;
}

#navbar li div {
    height: 100%;
}

#navbar p {
    position: relative;
    margin-top: -14px;
    font-size: 0.8em;
    font-weight: bold;
}

#navbar-bg {
    position: fixed;
    width: 100%;
    height: 64px;
    background: #222;
    top: -100px;
    opacity: 0.95;
}

/*******************
 * Page Indicators *
 *******************/
#page-indicators {
    position: fixed;
    top: 50%;
    right: 1%;
}

.page-indicator {
    display: block;
    position: relative;
    opacity: 0.2;
}

.page-indicator img {
    display: inline-block;
    clear: both;
    float: right;
    padding: 5px;
}

.page-indicator p {
    display: inline-block;
    opacity: 0;
    float: right;
    font-size: 0.6em;
    color: #f00;
}

/***********
 * Anchors *
 ***********/
#home-trigger {
    position: relative;
    top: 0px;
}
 
#about-trigger {
    position: relative;
    top: 800px;
}
 
#product-trigger {
    position: relative;
    top: 3000px;
}
 
#app-trigger {
    position: relative;
    top: 4400px;
}
 
#market-trigger {
    position: relative;
    top: 6400px;
}

/********
 * Home *
 ********/
#home {
    background: url('../images/1_home/bg.jpg');
    background-size: cover;
    background-position: center;
}

#home-content {
    color: #fefefe;
    padding-top: 144px;
    margin: 0 16px;
}

#home-headline {
    font-size: 2.75em;
    margin: 8px;
    font-weight: bold;
    letter-spacing: 1px;
}

#home-description {
    font-size: 1.3em;
    margin: 8px;
    padding: 8px;
    border: 2px solid white;
    letter-spacing: 1px;
}

#home-text {
    position: relative;
    width: 600px;
    top: 64px;
}

#supporters {
    position: relative;
    top: 220px;
    left: 35px;
}

#supporters p {
    color: #222;
    margin: 8px;
    float: left;
    padding-top: 10px;
}

#supporters img{
    padding-left: 10px;
}

#steps {
    margin: 270px 0 0 0;
}

.step {
    float: left;
    margin: 0 16px;
}

.step p {
    width: 160px;
    color: #222;
    line-height: 1.35em;
    font-size: 0.7em;
}

/*********
 * About *
 *********/
#about {
    background: #f3f3f3;
}

#about-content {
    color: #222222;
    width: 360px;
    padding-top: 223px;
    margin: 16px;
}

#about-headline {
    font-size: 2em;
    line-height: 1.4em;
    font-weight: bold;
    text-align: left;
}

#about-description {
    line-height: 1.75em;
    font-size: 0.8em;
    text-align: left;
}

/************************
 * Transition: Product *
 ************************/
#transition-product {
    background: #f3f3f3;
}
#transition-product-a {
    position: relative;
    background: url('../images/transitions/t2_bg.jpg');
    background-size: cover;
    background-position: center;
}

#transition-product-b {
    position: relative;
    background: url('../images/transitions/t1_bg.jpg');
    background-size: cover;
    background-position: center;
}

#transition-product-text p {
    letter-spacing: 1px;
    font-size: 1.21em;
}

/*********
 * Product *
 *********/
#product {
    background: #f3f3f3;
}

#product-content {
    position: relative;
    color: #222222;
    width: 500px;
    top: -510px;
    left: 20px;
}

#product-content img {
    padding-top: 7px;
}

#product-text p {
    line-height: 1.5em;
    font-size: 1.05em;
    text-align: left;
    margin-left: 35px;
    margin-top: 3px;
    color: #222;
}

#product-description {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold;
    text-align: left;
}

.product-label {
    position: absolute;
    width: 960px;
    height: 0px;
    background-size: cover;
}

#teensy {
    background: url('../images/3_product/teensy.png');
}

#bluetooth {
    background: url('../images/3_product/bluetooth.png');
}

#lipo {
    background: url('../images/3_product/lipo.png');
}

#charger {
    background: url('../images/3_product/charger.png');
}

#sdcard {
    background: url('../images/3_product/sdcard.png');
}

/************************
 * Transition: App *
 ************************/
#transition-app {
    background: url('../images/transitions/app/longbg.jpg');
    overflow: hidden;
}

/*******
 * App *
 *******/
#app {
    background: url('../images/4_app/bg.jpg');
    background-size: cover;
    background-position: center bottom;
}

#app-content {
    position: relative;
    top: -620px;
    width: 460px;
    padding-top: 160px;
}

#app-headline {
    color: #222222;
    font-size: 2.1em;
    line-height: 1.25em;
    font-weight: bold;
    text-align: left;
}

#app-description {
    color: #222222;
    line-height: 1.75em;
    font-size: 0.98em;
    text-align: left;
}

/**********************
 * Transition: Market *
 **********************/
#transition-market-content-a, #transition-market-content-b {
    position: absolute;
    width: 480px;
    top: 160px;
}

#transition-market-headline-a {
    color: #f3f3f3;
    line-height: 1.75em;
    font-size: 1.2em;
    margin-top: 64px;
    font-weight: bold;
}

#transition-market-description-a {
    color: #f3f3f3;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: bold;
}

#transition-market-headline-b {
    color: #222222;
    line-height: 1.75em;
    font-size: 1.2em;
    margin-top: 64px;
    font-weight: bold;
}

#transition-market-description-b {
    color: #222222;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: bold;
}

#transition-market-a {
    position: absolute;
    background: url('../images/transitions/market/bg2.jpg');
    background-size: cover;
    background-position: center;
}

#transition-market-b {
    position: absolute;
    background: url('../images/transitions/market/bg1.jpg');
    background-size: cover;
    background-position: center;
}

#market-animation-frames {
    position: absolute;
}

#market-animation-frames img {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

#market {
    background: url('../images/5_market/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#market-content {
    position: relative;
    top: -830px;
    left: -800px;
}

#market-content p {
    line-height: 1.5em;
    color: #222;
    opacity: 0;
    text-align: right;
}

#footer {
    background: #222;
    width: 100%;
    height: 310px;
}

#footer p {
    color: #f3f3f3;
    font-size: 0.7em;
    text-align: center;
    line-height: 25px;
}

#footer img{
    padding-top: 10px;
}

#footer-text {
    width: 100%;
    padding-top: 16px;
}

